// colors  
$softBlue : #5368df;
$softRed : #fa5757;
$grayishBlue : #9194a1;
$veryDarkBlue2 : #252b46f2;
$veryDarkBlue1 : #252b46;

// fonts
$fontSize : rem(18);
$fontFamily : 'Rubik', sans-serif;  // 400 500